@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Web Application</h1>
    <p class="lead">Welcome this page is just a temporary shit.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            It's your first time? no problem we can help you to get the job done.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We do for are Clients</h2>
        <p>
            This is a simple tool to help you with your sales here you can do more for your clients.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">More &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>Happy are those who dream and are ready to pay the price to make them come true :D</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">More &raquo;</a></p>
    </div>
</div>